
    .flag{
        background-color: #727272;
        color: white;
        height: 400px;
        width: 900px;
        position: relative;
        display: block;
      }

      .flag0{
        height: 0;
        width: 20%;
        border-bottom: 20px solid #25272b;
        border-right: 20px solid transparent;
        position: absolute;
        top: 0px;
        color: white;
        font-size:1rem;
          }


      .flag2{
        width: 30px;
        height: 40px;
        transform: skew(45deg);
        background: #dbc64b;
        position: absolute;
        top: 0;
        left: 24%;
        
      }

      .flag3{
        width: 617px;
        border-left: 40px solid transparent;
        border-top: 40px solid #dbc64b;
        position: absolute;
        left: 27%;
          }
      
    
    .flag4{
        
        height: 250px;
        width: 250px;
        background-color: #96770f;
        border-radius: 50%;
        position: absolute;
        top: 100px;
        left: 50px;
    }
     
  .flag4  div{  
    height: 220px;
    width: 220px;
    background-color: #727272;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
   }

 .flag5>p{
    float: right;
    width: 500px;
    margin-bottom: 0px;
    margin-right: 100px;
    text-align: center;
 }
 
 .flag6{

    background-color: #96770f;
    height: 5px;
    width: 900px;
    position: relative;

 }
 .flag7{

    background-color: #4d4429;
    height: 1400px;
    width: 900px;
    position: absolute;

 }
 .flag7>p{
    margin: 100px; 
    margin-top: 20px; 
    font-size: larger; 
    text-align: justify; 
    color: white;
    margin-bottom: 10px;
 }


 .skills{
    display: inline-block;
    margin-left: 100px;
    height: 300px;
    width: 355px;
    color: white;
    font-size: large;
 }
 .tools{
    display: inline-block;
    height: 300px;
    width: 440px;
    color: white;
    font-size: large;
 }
.img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

  }

.skills  h1{
    color: #96770f;
}

.tools h1{
    background-color: #96770f;
}

.contact{
    position: relative;
    top: 450px;
    display: block;
    background-color: #727272;
    height: 300px;
    width: 900px;
}
.contacts{
    position: absolute;
    top: 50px;
    width: 600px;
    height: 250px;
    color: white;
    margin-left: 100px;
    font-size: larger;
}
.experience{
    color: white;
    width: 900px;
    height: 700px;
    position: absolute;
    top: 1164px;
    font-size: large;
}
.experience h1{
    background-color: #96770f;
    width: 450px;
    margin-left: 0;
    text-indent: 100px;
}

.experience > div{
    margin-left: 130px;
}

.experience h2{
    line-height: 1px;
}


.footer{
    background-color: #96770f;
    height: 30px;
    width: 900px;
    position: relative;
    top: 1100px;
}
.footer>div{
    background-color: #25272b;
    height: inherit;
    width: 450px;
    margin-left: 450px;
}